:root {
    /* ADD YOUR COLOR VALUES HERE */
    --primary-color: #140d0d;   /* */
    --accent1-color: #0d0a0a;   /*  */

    /* FONTS */
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Verdana', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
.mv img {
    width: 200px;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 8px;
    padding: 0px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    max-height: 50px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 350px;
    left: 1%;
    right: 1%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 10px;
    max-width: 800px;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}