:root {
    /* ADD YOUR COLOR VALUES HERE */
    --primary-color: #140d0d; 
    --accent1-color: #0d0a0a;   
    /* FONTS */
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Verdana', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}



h1 {
    width: 100%;
    padding: 2px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

.logo img {
    width: 250px;
    height: auto;
    border-left: 0.5rem solid;
    border-bottom: .5rem solid;
    border-color: #248ea1;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 40px;
}

.header {
    display: grid;
    grid-template-columns:  auto 1fr;
    align-items: center;
    background-color: rgb(126, 80, 189);
    margin-bottom: 10px;
    border-radius: 10px;
}

.navbar ul {
    text-decoration: none;
    background-color: #95b8b8;
    display: flex;                    /* Flexbox for horizontal nav items */
    list-style-type: none;           /* Remove bullet points */
    margin: 0;                       /* Remove default margin */
    padding: 0px;                       /*Remove default padding */
    justify-content: space-around;   /* Even spacing for nav items */
    font-weight: bold;
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;            /* Remove underline */
    color: #090909;                     /* Text color */
    padding: 5px;               /* Padding for clickable area */
    display: block;
}

.navbar a:hover {
    background-color: aqua;
}

header, main, footer {
   max-width: 840px;
    margin: 0 auto;
    width: 100%;
}


nav, p, section {
    margin: 8px;
    padding: 0;
}


.hero h1 {
    position: absolute;
    top: 100px;
}


.employees {
    display: flex;
    background-color: rgba(222, 202, 229, 0.8); 
    flex-direction: column; 
    border-radius: 10px;
}

.employees figure, h2 {
    text-align: center;
}

h2 {
    padding: 0.5rem;
}

.figures-container {
    display: flex;
    justify-content: space-evenly;
}

.employees img {
    width: 150px;
    height: auto;
    padding: 2px;
}

.employees figure figcaption {
    margin-top: 2px;    
    margin-bottom: 5px;
}


.footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end; 
}

.footer p {
    padding-top: 12px;
    color: rgb(21, 234, 234);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    max-height: 50px;
    margin: 3px;
}

.office {
    text-align: center;
}

.map-container iframe {
    height: 400px;
}

form {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    /* border: 5px solid #eee; */
}

label {
    text-align: left;
}

textarea {
    width: 100%;
}

form, .office, footer {
    font-size: large;
    letter-spacing: 0.5px;
}

input, textarea, button, footer, h1 {
    border-radius: 5px;
    padding: 1rem;
}

.message {
    display: flex;
    flex-direction: row;
}

button {
    text-transform: uppercase;
    font-family: var(--heading-font);
    background-color: rgba(0, 0, 128, 0.559);
    color: #120404;
    font-size: 1.2rem;
    cursor: pointer;
}

.column1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.purpose {
    display: grid;
}

.Company {
    display: flex;
    flex-direction: row;
}