:root {
    /* ADD YOUR COLOR VALUES HERE */
    --primary-color: #140d0d;   /* */
    --accent1-color: #0d0a0a;   /*  */

    /* FONTS */
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Verdana', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

h1 {
    top: 165px;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

.raft {
    display: grid; 
    display: flex;
    flex-direction: column;
}

.mv img {
    width: 250px;
    height: auto;
    border-left: 0.5rem solid;
    border-bottom: .5rem solid;
    border-color: #248ea1;
    margin-bottom: 10px;
    margin-left: 80px;
}

.mv {
    display: grid;
    grid-template-columns:  1fr auto;
    align-items: center;
    background-color: rgb(126, 80, 189);
}

.mv a {
    text-decoration: none;
    padding: 10px;
    background-color: #063131;
    margin-right: 10px;
}

.mv a:hover {
    background-color: aqua;
}

.mv nav {
    display: flex;
    display: block;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    text-align: center;
}

nav, p, section, article {
    margin: 8px;
    padding: 0px;
}


.hero article {
    top: 350px;
    left: 1%;
    right: 1%;
    background-color: rgba(222, 202, 229, 0.8);
    padding: 1rem;
    border-radius: 10px;
    max-width: 840px;
}

.hero article img {
    float: right;
    width: 125px;
}


.paragraph {
   align-items: center;
   display: flex;
   flex-direction: row;
   background-color: rgba(222, 202, 229, 0.8);
}

.paragraph img {
    height: 100px;
}

.adventures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(222, 202, 229, 0.8);
    
}

.figure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.figure img {
    width: 120px;
    max-height: auto;
    padding: 2px;
}

.adventures h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer {
    background-color: #063131;
    display: flex;
    justify-content: flex-end;
    
}

.footer p {
    padding-top: 12px;
    color: rgb(21, 234, 234);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    max-height: 50px;
    margin: 3px;
}