:root {
    /* ADD YOUR COLOR VALUES HERE */
    --primary-color: #140d0d; 
    --accent1-color: #0d0a0a;   
    /* FONTS */
    --heading-font: 'Arial', sans-serif;
    --body-font: 'Verdana', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

h1 {
    top: 165px;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

.logo img {
    width: 250px;
    height: auto;
    border-left: 0.5rem solid;
    border-bottom: .5rem solid;
    border-color: #248ea1;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 40px;
}

.header {
    display: grid;
    grid-template-columns:  auto 1fr;
    align-items: center;
    background-color: rgb(126, 80, 189);
    margin-bottom: 10px;
    border-radius: 10px;
}

.navbar ul {
    text-decoration: none;
    background-color: #95b8b8;
    display: flex;                    /* Flexbox for horizontal nav items */
    list-style-type: none;           /* Remove bullet points */
    margin: 0;                       /* Remove default margin */
    padding: 0px;                       /*Remove default padding */
    justify-content: space-around;   /* Even spacing for nav items */
    font-weight: bold;
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;            /* Remove underline */
    color: #333;                     /* Text color */
    padding: 1px;               /* Padding for clickable area */
    display: block;
}

.navbar a:hover {
    background-color: aqua;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    text-align: center;
    margin-bottom: 10px;
}

nav, p, section, article {
    margin: 8px;
    padding: 0px;
}

.hero {
    position: relative;
}

.hero img { 
    display: block;
    width: 100%;
    height: auto;
     border-radius: 10px;
}

.hero h1 {
    position: absolute;
    top: 100px;
}
.hero article {
    top: 500px;
    left: 1%;
    right: 1%;
    background-color: rgba(222, 202, 229, 0.8);
    padding: 1rem;
    border-radius: 10px;
    max-width: 840px;
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
}


.paragraph {
   align-items: center;
   display: flex;
   flex-direction: row;
   background-color: rgba(222, 202, 229, 0.8);
   border-radius: 10px;
}

.paragraph img {
    height: 100px;
    margin-bottom: 10px;
}


.adventures {
    display: flex;
    background-color: rgba(222, 202, 229, 0.8); 
    flex-direction: column; 
    
    border-radius: 10px;
}

.adventures figure {
    text-align: center;
}

.figures-container {
    display: flex;
    justify-content: space-evenly;
}

.adventures img {
    width: 120px;
    height: auto;
    padding: 2px;
}

.adventures figure figcaption {
    margin-top: 2px;    
    margin-bottom: 5px;
}


.footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end; 
}

.footer p {
    padding-top: 12px;
    color: rgb(21, 234, 234);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    max-height: 50px;
    margin: 3px;
}