* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #333;
    background: #fff;
    letter-spacing: 1px;
    padding: 1.5rem;
}

/* Header + h1 */
header {
    margin: 0 auto;
    width: 780px;
}

h1 {
    margin: 1rem 0;
    text-align: center;
    color: rgb(10, 54, 54);
}

form {
    margin: 1rem auto;
    width: 55rem ;
    padding: 1rem;
    border: 5px solid rgb(46, 38, 107);
    border-radius: 1.5rem;
    background-color: #eee;
    display: grid;
    gap: 0.5rem;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    border: 2px solid rgb(10, 54, 54);
    margin: 1rem;
    padding: 1rem;
    border-radius: .7rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 2rem;
    font-style: oblique;
}

label, input, select, textarea, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    text-align: right;
    padding-right: 0.5rem;
}

input, select, textarea {
    padding: 0.6rem ;
    font-size: 1.1rem;
    /* width: 35rem; */
}

/* select {
    width: 7rem;
    padding: 0.6rem;
    font-size: 1.1rem;
} */

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: bottom ;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
}

.stacked {
    grid-template-columns: 1fr;
}

.stacked label {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3px;
}

button {
    width: 200px;
    margin: 1rem auto 0;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.2rem;
    border: none;
    color: #120404;
    background-color: rgb(163, 163, 204);
}

button:hover {
    background-color: aquamarine;
}

footer {
    text-align: center;
    padding: 0.5rem;
    border-top: 1px solid #16500c;
    color: #120404;
    width: 650px;
    margin: 1rem auto 0;
}