.table-container {
    overflow-x: auto;
    width: 100%;
}

@media( max-width: 600px) {
    table{
        width: 100%;
    }
}

table {
    border-collapse: collapse ;
    border: 4px solid rebeccapurple;
    letter-spacing: 1px;
    width: 40%;
    height: auto;
    margin: 0 auto;
}

tbody tr:nth-child(even){
    background-color: lightblue;
}

tbody, tfoot {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th, td {
    border: 1px solid rgb(130, 129, 132);
    padding: 12px 18px;
    text-align: center;
}

thead, tfoot tr { 
    background-color: rgb(0 0 0);
    color: white;
    padding: 10px;
}