* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: 200px;
    border: 3px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgb(0 0 0);
    float: right;
}

aside {
    max-width: 30rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    left: 190px;
    top: 45px;
}

aside img {
    width: 400px;
    height: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    margin-top: 20px;
}

p {
    padding: 0;
    margin-top: 7%;
}

ul {
    list-style: none;
    padding: 1rem;
}

/* Class Selector */
.box {
    margin: 1rem;
    padding: 0.5rem, 0.5rem;
    border: 1px solid #0a0c77;
    color: #000;
    background-color: antiquewhite;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    background-color: aqua;
    padding-bottom: 5px;
}