* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}

a:hover {
    background-color: #d8066f;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: 200px;
    border: 3px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgb(0 0 0);
    float: right;
}

aside {
    max-width: 30rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    left: 100px;
    top: 45px;
}

aside img {
    width: 240px;
    height: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0auto;
}

.grid {
display: grid;
grid-template-columns: auto 300px;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    font-weight: 1000;
    text-decoration: none;
    font-size: 1.6rem;
    background-color: #000;
}


h1 {
    color: darkblue;
    margin-top: 10px;
    border-bottom: 0.4rem solid;
    border-color: rgb(85, 120, 100);
    padding-bottom: 5px;
    text-align: center;
}

p {
    padding: 0;
    margin-top: 7%;
}

ul {
    list-style: none;
    padding: 1rem;
}

/* Class Selector */
.box {
    margin: 1rem;
    padding: 0.5rem, 0.5rem;
    border: 1px solid #0a0c77;
    color: #000;
    background-color: antiquewhite;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    background-color: aqua;
    padding-bottom: 5px;
    text-align: center;
}