* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

header p {
    font-size: 1.6em;
}

h1 {
    text-align: center;
    margin: 15px;
}

main {
    margin: 0 auto;
    max-width: 450px;
}

picture img  {
    display: block;
    max-width: 450px;
    box-shadow: 7px 7px 20px #333333;
    margin-bottom: 25 px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #dddddd;
    line-height: 1.5em;
}

section h2 {
    border-bottom: 1px solid #070707;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

section p {
    margin-top: 15px;
    padding: 0 10px;
    margin-left: 5px;
}

section ul{
    margin-left: 10px;
    padding: 0 10px;

}
